body {
  background: linear-gradient(253deg, #0cf1b8, #aaf300, #b28feb);
  background-size: 300% 300%;
  -webkit-animation: Background 5s ease infinite;
  -moz-animation: Background 10s ease infinite;
  animation: Background 15s ease infinite;
}



h1 {
  display: block;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 4em;
  letter-spacing: -2px;
  text-align: center;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}

@-webkit-keyframes Background {
  0% {
    background-position: 10% 50%
  }
  50% {
    background-position: 90% 50%
  }
  100% {
    background-position: 10% 50%
  }
}
pre {
  height: 150px;
  width: 380px;
  overflow: auto;
  position: relative;
  z-index: 2;
  margin: 0 auto ;
}




/* h1 {
  display: block;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 4em;
  letter-spacing: -2px;
  text-align: center;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
} */

.resalt.form {
border-style: groove;
}
textarea{
border: 5px black;
border-radius: 5px;
padding: 5px;
}
pre {
  height: 150px;
  width: 380px;
  overflow: auto;
  position: relative;
  z-index: 2;
  margin: 0 auto ;
}

button:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
background-color: #578555;
color: white;
}
input:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
background-color: #553525;
color: white;
}


.button-line:hover {
  opacity: .2
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}

/*

*/